* { box-sizing: border-box; }


body{
    background-color: whitesmoke;/* #106EBE*/
    color:black;/* #0FFCBE*/
    margin: 0;
    font-family: "Inter", sans-serif;
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 50px 50px;   /*24 32*/
    z-index: 100;

}

.name {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  outline: none;
}

.name:visited {
    color: black;
}


.active {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    font-weight: bold;
}

.inactive {
    opacity: 0.5;

}

.hero {
    font-family: "Playfair Display";
    font-size: 40px;
    opacity: 0.8;
    line-height: 1.3;
    position: relative;
    padding-left: 100px;
    padding-top: 500px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
}

